.App {
 display:flex;
 flex-direction:column;
 justify-content:center;
}

.tabela{
  margin-top:20px;
  display: flex;
  justify-content:center;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
.dodaj{
  margin-top:5px;
}
h1{
  text-align:center;
}
Form{
  
  align-self:center;
  width:50%;
}
